@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    font-family: 'Oswald';
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #1363DF;
}

.content {
    padding: 0 10px;
}

footer {
    background-color: #06283D;
    color: white;
    padding: 15px;
}

nav {
    display: inline;
    float: right;
    margin-right: 20px;
    padding: auto;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav a:hover {
    font-weight: bold;
}

li {
    display: inline-block;
    padding: 10px;
}

.logo {
    display: inline-block;
    margin-left: 20px;
}

aside {
    text-align: center;
}

.card {
    /* border: 1px solid rgb(150, 148, 148); */
    border-radius: 10px;
    box-shadow: 2px 3px 10px 2px #666666;
    margin-top: 20px;
    padding: 10px 5px;
    /* max-height: 500px;
    overflow: auto; */
}

.content-art {
    text-align: center;
}

.content-art h1 {
    font-size: 50px;
}

.img-content {
    width: 400px;
    object-fit: cover;
    object-position: center;
}